/* body {
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
} */

body.login-bg {
  background-image: url('../../assets/bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}



.login-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 200px
}

@media only screen and (max-width: 1024px) {
    .login-page {
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }
}