.candidate-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;         
    padding: 1.5rem;
    color: #891437;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 600px;
    height: 200px;

}

.name, .student-number, .alias, .party, .position, .description {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.candidate-image {
    width: 100px;
    height: 100px;
}

.candidate-info-container {
    display: flex;
}

