.candidate-card {
    position: relative;
    display: flex;
    flex-direction: column;      
    align-items: center;        
    text-align: center;         
    padding: 1.5rem;
    margin-left: 10rem;

    background-color: #891437;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 550px;
    height: 600px;
}

.change-candidate-button-back {
    position: absolute;
    top: 45%;
    left: -1rem;
    background-color: #00563E;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}