.candidate-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;         
    padding: 1.5rem;
    color: #891437;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 600px;
    height: 200px;
}

.name, .student-number, .alias, .party, .position, .description {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
}

.candidate-image {
    width: 100px;
    height: 100px;
}

.candidate-info-container {
    display: flex;
}

.view-details-button {
    position: absolute;
    top: 0.5rem;
    right: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: #891437;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-details-button:hover {
    background-color: #6e0f2a;
}

.remove-candidate-button {
    position: absolute;
    top: 0.5rem;
    right: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: #891437;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-candidate-button:hover {
    background-color: #6e0f2a;
}


input[type="checkbox"], input[type="radio"] {
    position: absolute;
    width: 20px;
    right: 0;
    top: 50%;
    right: 10%;
    transform: translate(30%, -50%) scale(2);
}