.card.voting-page{
    display: flex;
    flex-direction: column;      
    align-items: center;        
    text-align: center;         
    padding: 1.5rem;

    background-color: #891437;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 450px;
    height: 100vh;
}

body.dashboard-bg {
  background-image: url('../../assets/dashboard-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.voting-page {
    display: flex;
    justify-content: cover;
    align-items: cover;
    height: 100vh;
}

.voting-page-card {
    height: 100vh;
}
