body.dashboard-bg {
  background-image: url('../../assets/dashboard-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.voting-page {
    display: flex;
    justify-content: cover;
    align-items: center;
    height: 100vh;

    color: white;
}

.voting-page-card {
    height: 100vh;
    border-radius: 0;
}

.voting-page-card .card-title {
    margin-top: 0;
    font-size: 5rem;

}

.voting-page-card .card-description  {
    font-size: 0.70rem;
    margin-bottom: 4rem;
}

.voting-page-card .logo {
    margin-top: 3rem;
}

.candidateButtons {
    display: flex;
    flex-direction: column;

}

.candidateButtons button {
    border-radius: 25px;
}

.candidateButtons button:hover {
    background-color: #004080;
    color: white;
    cursor: pointer;
}

.back-arrow {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
