body.dashboard-bg {
  background-image: url('../../assets/dashboard-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

button:disabled {
  background-color: white;
  cursor: not-allowed;
  color: gray;
}


.voting-page {
    display: flex;
    justify-content: cover;
    align-items: center;
    height: 100vh;

    color: white;
}

.voting-page-card {
    height: 100vh;
    border-radius: 0;
}

.voting-page-card .card-title {
    margin-top: 0;
    font-size: 5rem;

}

.voting-page-card .card-description  {
    font-size: 0.70rem;
    margin-bottom: 4rem;
}

.voting-page-card .logo {
    margin-top: 3rem;
}

.candidateButtons {
    display: flex;
    flex-direction: column;

}

.candidateButtons button {
    border-radius: 25px;
}

.candidateButtons button:hover {
    background-color: white;
    color: gray;
    cursor: pointer;
}

.back-arrow {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.logout-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.logout-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}



.candidate-list {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: auto;
    min-height: 10rem;
    height: 80%;
    max-height: 30rem;
    background-color: #FFC9D9;
    border-radius: 10px;
    padding: 0.25rem;
    width:100%;
    max-width: 740px;
}


.candidate-list-container {
    position: relative;
    display: flex;
    flex-direction: column;      
    align-items: center;        
    text-align: center;         
    padding: 1.5rem;
    margin-left: 8rem;

    background-color: #891437;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 750px;
    min-width: 240px;
    height: 650px;
    margin-top: 2rem;
    margin-right: 50%;
    margin-right: 10%;
}

.candidate-list-card-title {
    margin-top: 1rem;
    /* text-shadow: 3px 3px 0 #4d0013, 4px 4px 0 #4d0013; */
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    line-height: 0.9;
}

.candidate-list-card-type {
    margin-top: 1rem;
    /* text-shadow: 3px 3px 0 #4d0013, 4px 4px 0 #4d0013; */
    font-size: 2rem;
    font-weight: 800;
    color: #ffffff;
    line-height: 0.9;
}
.candidate-list-card-number {
    margin-top: 1rem;
    /* text-shadow: 3px 3px 0 #4d0013, 4px 4px 0 #4d0013; */
    font-size: 0.9rem;
    color: #ffffff;
    line-height: 0.9;
}

.submit-button {
    margin-top: 7rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.submission-message {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 500px;
    height: 200px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    background-color: #ffffff;
    color: #891437;
    border-radius: 12px;
    font-weight: bold;

    z-index: 2;
}

.submission-message button {
    margin-top: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
    width: 90%;
}

.submission-message div {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 90%;
    margin-top: 3rem;
}

.submission-message p {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

.candidate-list::-webkit-scrollbar {
    width: 10px;       /* scrollbar thickness */
}

.candidate-list::-webkit-scrollbar-track {
    background: #ffdce6;   /* lighter pink track */
    border-radius: 10px;
}

.candidate-list::-webkit-scrollbar-thumb {
    background: #900028;   /* UP maroon thumb */
    border-radius: 10px;
    border: 2px solid #ffdce6; /* gives a gap effect */
}

.candidate-list::-webkit-scrollbar-thumb:hover {
    background: #b3003c;   /* brighter maroon on hover */
}

strong {
    margin-top: 1rem;
}