select {
    padding: 8px;
    border-radius: 10px;
    width: 150px;
}

.voting-period-header {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

.voting-period-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.start-date, .end-date {
    display: flex;
    align-items: center;
    gap: 10px;
}

.start-date select:last-child, .end-date select:last-child {
    width: 200px;
}

.start-date label {
    margin-right: 1rem;
}

.end-date label {
    margin-right: 1.3rem;
}

.manage-candidates-button {
    position: absolute;
    right: 0.5%;
    top: 25%;

    line-height: 0.3rem;
    font-size: 0.7rem;
    border-radius: 45px;
    cursor: pointer;
}

.create-voter-accounts {
    position: absolute;
    right: 0.5%;
    top: 31%;

    line-height: 0.3rem;
    font-size: 0.7rem;
    border-radius: 45px;
    cursor: pointer;
}

/* Hover effects for both buttons */
.manage-candidates-button:hover, 
.create-voter-accounts:hover {
    background-color: white;
    color: gray;
    transition: 0.2s;
}