.recharts-surface {
    overflow: visible;
}
.recharts-default-legend {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 1rem;
}
/* 
tspan {
    font-size: 0.5rem;
} */