/* body {
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
} */

body.dashboard-bg {
  background-image: url('../../assets/dashboard-bg.png');
  background-size: center;
  background-position: center;
  height: 100vh;
}

.candidate-buttons {
    display: flex;  
    flex-direction: column;         
    justify-content: center; 
    gap: 20px;               
    width: 100%;             
}


.candidate-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.manage-profile-button {
    margin-top: 3rem;
    padding: 45px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.vote-button {
    margin-top: 1rem;
    padding: 45px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.vote-button, .manage-profile-button img {
    margin-right: 10px;
}

.vote-button:hover, .manage-profile-button:hover {
    background-color: #891437;
    transform: scale(1.05);
    transition: transform 0.2s;
}

