.add-candidate-content input[type="text"] {
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    height: 1.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.choose-position {
    margin-left: 3rem;
    margin-top: 1rem;
    width: 260px;
    height: 3rem;

    background-color: #FFB81C;
    text-align: center;
    font-weight: bold;
    color: white;
}

.add-candidate-content input[type="text"]:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.choose-position:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.add-candidate-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 20px;
}

.top-row, .bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
}
.select-position {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.manage-candidates-buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.done-manage-button, .add-candidate-button {
    width: 45%;
    position: relative;
    border-radius: 25px;
}
.done-manage-button:hover, .add-candidate-button:hover {
    background-color: white;
    color: gray;
}   