h1 {
    margin-top: 10rem;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

i {
    margin-bottom: 5rem;
}
.candidate-details {
    position: relative;
    display: flex;
    flex-direction: column;      
    align-items: center;        
    text-align: center;         
    padding: 1.5rem;
    margin-left: 8rem;

    background-color: #891437;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 750px;
    height: 650px;
    margin-top: 2rem;
}

.candidate-image-single {
    position: absolute;
    top: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffb81c;
}

.done-viewing-button {
    position: absolute;
    bottom: 5rem;
    padding: 20px;
    width: 50%;
    border-radius: 30px;
}

.done-viewing-button:hover {
    background-color: white;
    color: gray;
    cursor: pointer;
}

.mini-header {
    margin-top: 0;
    margin-bottom: 2rem;
}
