.voter-chart-view {

    background-color: #FFF0F0;
    color: #891437;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    
    
}

.voter-chart-view h1, .chairperson-chart-container h1 {
    margin-top: 0;
}

.voter-chart-container, .chairperson-chart-container, .vice-chairperson-chart-container{
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;;
}

.voter-data {
    text-align: left;
    padding: 10px;
}

.map-voter-data-list {
    list-style-type: none;
    padding: 0;
    font-size: 0.95rem;
}

.candidates-data-chart-view {
    background-color: #FFF0F0;
    color: #891437;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.candidates-data-chart-view h3 {
    margin-bottom: 0;
}

.chairperson-chart-view, .vice-chairperson-chart-view {
    display: flex;
    flex-direction: column;
}

.chairperson-vice-container {
    display: flex;
    flex-direction: row;
}

.councilor-chart-view {
    background-color: #FFF0F0;
    color: #891437;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}